<div class="title">
  <div>
    <h1>Angular Material TreeTable Component</h1>
  </div>
</div>

<!-- <mat-form-field class="example-form-field">
  <mat-label>Ricerca</mat-label>
  <input matInput type="text" [(ngModel)]="query" (change)="onSearch()">
  <button mat-button *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="query=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field> -->
<div>
  <label>Ricerca</label>
  <input type="text" [(ngModel)]="query" (change)="onSearch()">
</div>
<!-- <h2>Tree as Single Root Node</h2>
<treetable [tree]="singleRootTree" (rowClicked)="onRowClicked($event)" [options]="{capitalisedHeader: true}"></treetable> -->

<h2>Tree as Array of Nodes</h2>
<treetable [tree]="arrayOfNodesTree" [options]="options" (rowClicked)="onRowClicked($event)"></treetable>

